/*bloque de description-edit en user_data_wrapper.css estilos semejantes con elementos ‘‘P’’ en GRID */

.description-edit--btn {
	position: absolute;
	left: 0;
	top: -20%;
	font-size: 1.3rem;
	width: 33px;
	display: grid;
	place-content: center;
}

.description-edit--edit {
	resize: none;
	outline: none;
	width: 100%;
	height: 80%;
	border-radius: 5px;
	border: 1px solid hsl(0, 0%, 60%);
	background-color: var(--colorPrimary);
	color: var(--bgDoc);
}

.description-edit--edit::placeholder {
	color: hsl(0, 0%, 60%);
}

.description-edit--text {
	height: 80%;
	padding: 3px;
	overflow-y: scroll;
}

.description-edit--edit,
.description-edit--text {
	/* in firefox */

	scrollbar-color: var(--colorSecondary) var(--bgDoc);
}

.description-edit--edit::-webkit-scrollbar:vertical,
.description-edit--text::-webkit-scrollbar:vertical {
	width: 0.5rem;
}

.description-edit--edit::-webkit-scrollbar-thumb,
.description-edit--text::-webkit-scrollbar-thumb {
	background-color: var(--bgDoc);
	border-radius: 20px;
	border: 2px solid var(--colorPrimary);
}
