/* check buttom */
.user--check {
	height: 20px;
	width: 40px;
	border-radius: 20px;
	background-color: var(--colorSecondary);
	position: relative;
	box-shadow: 0 0 15px -8px var(--bgLetter);
	cursor: pointer;
	opacity: 1;
	transition-duration: 0.2s;
	transition-property: background-color opacity;
}

.user--check::before {
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	transform: scale(1.05);
	border-radius: 50%;
	box-shadow: 0 0 15px -8px var(--bgLetter);
	background-image: linear-gradient(to bottom left, hsl(0, 0%, 98%) 30%, var(--colorPrimary) 400%);
	left: 0%;
	transition: left 0.2s;
}

/* opacidad para UX, indicar al usuario que esta cargando el check */

.user--check__load {
	opacity: 0.5;
}

.user--check__active {
	background-color: var(--colorPrimary);
}

.user--check__active::before {
	left: 50%;
}

/* user buttom DATE TIME */

.user--check-dateTime {
	position: absolute;
	top: 130%;
	width: 100px;
	font-size: 0.8rem;
	cursor: initial;
}
