.user--data-wrapper {
	width: 500px;
	height: 200px;
	background-image: linear-gradient(to bottom, hsl(0, 0%, 97%) 60%, var(--colorPrimary) 800%);
	position: absolute;
	left: 0;
	top: -100px;
	top: 0px;
	display: none;
}
