.user-propertys {
	display: none;
}

.user {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	background-image: linear-gradient(to bottom, hsl(0, 0%, 97%) 60%, var(--colorPrimary) 800%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	max-width: 300px;
	box-shadow: var(--shadowGeneral);
	border-radius: 20px;
	position: relative;
	cursor: pointer;
}

.user > h3 {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 5px;
}

.user > p,
.user > div:first-of-type {
	margin-top: 0;
	margin-bottom: 0;
	width: 80%;
	position: relative;
}

.user > div:first-of-type {
	margin-bottom: 30px;
}

@media (min-width: 1000px) {
	.user-propertys {
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		display: flex;
	}

	.user-propertys > h3 {
		text-align: center;
		width: 100%;
	}

	.user {
		width: 95%;
		height: 100px;
		max-width: 1300px;
		flex-direction: row;
		top: 0;
		transition: top 0.2s;
	}

	.user:hover {
		top: -10px;
	}

	.user > h3 {
		display: none;
	}

	.user > p,
	.user > div:first-of-type {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.user > div:first-of-type {
		margin-bottom: 0px;
	}
}
