.user--data-wrapper {
	width: 100%;
	height: 100%;
	background-color: var(--colorPrimary);
	color: var(--bgDoc);
	position: absolute;
	left: 0;
	top: 0;
	display: grid;
	grid-template-rows:
		calc(100% / 16.5) calc(100% / 3.6666) calc(100% / 16.5) calc(100% / 3.6666)
		calc(100% / 16.5) calc(100% / 3.6666);
	cursor: pointer;
	clip-path: circle(140% at 100% 100%);
	transition: clip-path 1s cubic-bezier(0.82, -0.2, 0.18, 1.2);
}

.user--data-wrapper:hover {
	clip-path: circle(150% at 100% 100%);
}

.user--data-wrapper::before,
.user--data-wrapper::after {
	content: '';
	position: absolute;
	top: calc(100% / 3);
	left: calc(50% - (100% / 2) / 2);
	width: calc(100% / 2);
	height: 3px;
	background-color: var(--colorSecondary);
}

.user--data-wrapper::after {
	top: calc(100% / 1.5);
}

.user--data-wrapper > h3 {
	text-align: center;
	color: currentColor;
}

.user--data-wrapper > p {
	width: calc(100% / 1.4);
	display: grid;
	place-content: center;
	position: relative;
	left: calc(50% - ((100% / 1.4) / 2));
}

@media (min-width: 1000px) {
	.user--data-wrapper {
		grid-template-columns: repeat(3, calc(100% / 3));
		grid-template-rows: calc(100% / 4) calc(100% / 1.3333);
		clip-path: circle(7% at 0% 100%);
	}

	.user--data-wrapper:hover {
		clip-path: circle(150% at 0% 100%);
	}

	.user--data-wrapper::before,
	.user--data-wrapper::after {
		top: calc(25% + 100% / 1.3333 / 2 - ((100% / 2) / 2));
		left: calc(100% / 3);
		width: 3px;
		height: calc(100% / 2);
	}

	.user--data-wrapper::after {
		left: calc(100% / 1.5);
	}

	.user--data-wrapper > h3:nth-of-type(2) {
		grid-row-start: 1;
		grid-column-start: 2;
	}

	.user--data-wrapper > h3:nth-of-type(3) {
		grid-row-start: 1;
		grid-column-start: 3;
	}
}
