/* variables */
:root {
	/* color document appropriate */
	--white: hsl(0, 0%, 95%);
	--black: hsl(0, 0%, 5%);
	background-color: var(--white);
	color: var(--black);
	font-family: sans-serif;
	/* color elements and text (optional) */
	--colorPrimary: hsl(224, 70%, 40%);
	--colorPrimaryTwo: hsl(223, 49%, 23%);
	--colorSecondary: hsl(357, 71%, 44%);
	--shadowGeneral: 0 0 15px -10px var(--black);
	--GrdGeneral: linear-gradient(to bottom, hsl(0, 0%, 97%) 70%, var(--colorPrimary) 800%);
}

/* titles */

h1,
h2 {
	margin-top: 50px;
	margin-bottom: 50px;
	color: var(--colorPrimaryTwo);
	text-align: center;
}

h1,
h2,
h3,
h4 {
	color: var(--colorPrimaryTwo);
}

p {
	text-transform: capitalize;
}

/* form */

label {
	font-weight: bold;
	color: var(--colorPrimaryTwo);
	cursor: pointer;
}

input {
	width: 130px;
	height: 30px;
	outline: none;
	border: 3px solid transparent;
	background-color: var(--white);
	border-radius: 5px;
	position: relative;
	transition: border-color 0.2s;
}

/* delete icon input dateTime */
[type='date']::-webkit-calendar-picker-indicator {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}

input:focus {
	border-color: var(--colorPrimary);
}
