/* check-user buttom */
.check-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: 60px;
  margin-bottom: 15px;
}

.check-user--button {
  height: 20px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--colorSecondary);
  position: relative;
  box-shadow: 0 0 15px -8px var(--bgLetter);
  opacity: 1;
  transition-duration: 0.2s;
  transition-property: background-color opacity;
}

.check-user--button::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  transform: scale(1.05);
  border-radius: 50%;
  box-shadow: 0 0 15px -8px var(--bgLetter);
  background-image: linear-gradient(
    to bottom left,
    hsl(0, 0%, 98%) 30%,
    var(--colorPrimary) 400%
  );
  top: 0%;
  left: 0%;
  transition: left 0.2s;
}

/* opacidad para UX, indicar al usuario que esta cargando el check-user */

.check-user--button__active {
  background-color: var(--colorPrimary);
}

.check-user--button__active::before {
  left: 50%;
}

/* user buttom DATE TIME */

.check-user--dateTime {
  display: inline-block;
  width: 100px;
  font-size: 0.8rem;
}

@media (min-width: 1000px) {
  .check-user {
    margin-top: 50px;
    align-items: center;
  }

  .check-user--button {
    left: -15%;
  }
}
