.user--select-title {
	position: absolute;
	right: 15px;
	top: 10px;
	border: 3px solid var(--colorPrimary);
	background-color: var(--bgDoc);
	border-radius: 5px;
	width: 100px;
	padding-left: 2px;
	cursor: pointer;
}

.user--select-wrapper {
	position: absolute;
	width: 94px;
	top: 34.39px;
	right: 18px;
	height: auto;

	overflow: hidden;
}

.user--select {
	position: relative;
	top: -75px;
	width: 100%;
	background-color: var(--bgDoc);
	border-left: 2px solid var(--colorPrimary);
	border-right: 2px solid var(--colorPrimary);
	border-bottom: 2px solid var(--colorPrimary);
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	transition: top 0.4s;
}

.user--select-title:hover + .user--select-wrapper > .user--select,
.user--select:hover {
	top: 0;
}

.user--select > div {
	height: 23px;
	padding-left: 2px;
	display: flex;
	align-items: center;
}

.user--select > div:hover {
	background-color: hsla(0, 0%, 5%, 0.2);
}
