.wrapper-user {
	--thirdPart: calc(100% / 3);
	--secondPart: calc(100% / 2);
	--twoThirds: calc(100% / 1.5);
	--titleMeasures: calc(100% / 13);
	--textMeasures: calc(100% * 0.2564);
	width: 100%;
	height: 100%;
	background-color: var(--colorPrimary);
	color: var(--bgDoc);
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	display: grid;
	grid-template-rows:
		var(--titleMeasures) var(--textMeasures) var(--titleMeasures) var(--textMeasures)
		var(--titleMeasures) var(--textMeasures);
	cursor: pointer;
	clip-path: circle(13% at 100% 100%);
	transition: clip-path 1s cubic-bezier(0.82, -0.2, 0.18, 1.2);
}

.wrapper-user:hover {
	clip-path: circle(150% at 100% 100%);
}

.wrapper-user::before,
.wrapper-user::after {
	content: '';
	position: absolute;
	top: var(--thirdPart);
	left: calc(50% - var(--secondPart) / 2);
	width: var(--secondPart);
	height: 3px;
	background-color: var(--colorSecondary);
}

.wrapper-user::after {
	top: var(--twoThirds);
}

.wrapper-user--title {
	text-align: center;
	color: currentColor;
}

.wrapper-user--content,
.descrip-wrapper {
	width: var(--twoThirds);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: calc(50% - (var(--twoThirds) / 2));
}

.descrip-wrapper--button {
	position: absolute;
	left: 0;
	top: -20%;
	font-size: 1.3rem;
	width: 33px;
	display: grid;
	place-content: center;
}

.descrip-wrapper--textEdit {
	resize: none;
	outline: none;
	width: 100%;
	height: 80%;
	border-radius: 5px;
	border: 1px solid hsl(0, 0%, 60%);
	background-color: var(--colorPrimary);
	color: var(--bgDoc);
	padding: 5px;
}

.descrip-wrapper--textEdit::placeholder {
	color: hsl(0, 0%, 60%);
}

.descrip-wrapper--paragraph {
	width: 100%;
	height: 80%;
	padding: 6px;
	overflow-y: auto;
}

.descrip-wrapper--textEdit,
.descrip-wrapper--paragraph {
	/* in firefox - warning (support chromium) */

	/* scrollbar-color: var(--colorSecondary) var(--bgDoc); */
}

.descrip-wrapper--textEdit::-webkit-scrollbar:vertical,
.descrip-wrapper--paragraph::-webkit-scrollbar:vertical {
	width: 0.5rem;
}

.descrip-wrapper--textEdit::-webkit-scrollbar-thumb,
.descrip-wrapper--paragraph::-webkit-scrollbar-thumb {
	background-color: var(--bgDoc);
	border-radius: 20px;
	border: 2px solid var(--colorPrimary);
}

@media (min-width: 1000px) {
	.wrapper-user {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: calc(100% / 4) calc(100% / 1.3333);
		clip-path: circle(7% at 0% 100%);
	}

	.wrapper-user:hover {
		clip-path: circle(150% at 0% 100%);
	}

	.wrapper-user::before,
	.wrapper-user::after {
		top: calc(50% - var(--twoThirds) / 2);
		left: var(--thirdPart);
		width: 3px;
		height: var(--twoThirds);
	}

	.wrapper-user::after {
		left: var(--twoThirds);
	}

	.wrapper-user--title:nth-of-type(2) {
		grid-row-start: 1;
		grid-column-start: 2;
	}

	.wrapper-user--title:nth-of-type(3) {
		grid-row-start: 1;
		grid-column-start: 3;
	}
}
